<div class="container">
	<div class="col-md-3">
		<h1>マイページ</h1>
		<div class="user-profile">
			<h4>ユーザーネーム</h4>
			<div class="space"><%= @user.name %></div>
		</div>
		<%= link_to "プロフィールの確認/変更", edit_user_user_path(current_user.id), class: "btn btn-default" %>
	</div>
	<div class="col-md-9">
		<h1>あなたが投稿した写真</h1>
	</div>
</div>
