<div class="top-image">
    <% if flash[:notice] %>
		<p class="flash-font notice"><%= flash[:notice] %></p>
	<% end %>
    <div class="top-title">
        <div class="title-font">A G U M O</div>
    </div>
    <div class="top-text-content">
        あなたにとっていい瞬間を...
    </div>
</div>
