<div class="container">

    <h1>post index</h1>
    <% @posts.each do |f| %>
        <div class="post-box">
                <div class="post-contents">
                    <%= attachment_image_tag f, :image, fomat: 'jpg', size: "300x300", fallback: "no_image.jpg" %>
                    <%= f.season_id %>
                    <%= f.region_id %>
                    <%= f.caption %>
                </div>
        </div>
    <% end %>

</div>