<div class="container">
    <div class="row">
        <h1>新規投稿</h1>
        
        <%= form_for (@post), url: user_posts_path, method: :post do |f| %>
        
            <%= f.attachment_field :image %>
            
            <%= f.text_area :caption %>
            
            <%= f.submit "投稿する" %>
        
        <% end %>
    </div>
</div>