<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4", style="padding-top: 50px;">
        <% if flash[:notice] %>
        	<div><%= flash[:notice] %></div>
        <% end %>
    	<h1>新規地域登録画面</h1>
    	<%= form_for @region, url: admin_regions_path do |region| %>
    		<label>入力フォーム</label>
    
    		<%= region.text_field :region_name %>
    
    		<%= region.submit "登録" %>
	    <% end %>
    </div>
    <div class="col-md-4"></div>
</div>