// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-contents{
    border: 1px solid;
}
.post-content-line{
    width: 240px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 0.5px solid;
}
.post-content-line-index{
    width: 300px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 0.5px solid;
}

.post-delete-btn{
    padding: 20px;
    float: right;
}


.user-show-content{
    margin-top: 10px;
}

.main-space{
    height: 420px;
}